@font-face {
    font-family: 'Barlow';
    src: url('./font/Barlow-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
} 

@font-face {
    font-family: 'Barlow';
    src: url('./font/Barlow-Black.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
} 
@font-face {
    font-family: 'Barlow';
    src: url('./font/Barlow-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
} 

html {
    background-color: #EFF6FF;
}

body {
  overflow-x: hidden;
  font-family: "Barlow", sans-serif;
  font-weight: 400;
}

.all {
    display: flex;
    gap: 30px;
    min-height: 100vh;
}

.logo {
    position: relative; 
    width: 100%;
    height: 100%;
}

.image {
    width: 90%;
    height: auto;
    display: block;
} 

.overlay {
    position: absolute;
    top: 4%;
    left: 4%;
    width: 18%;
}

.window1 {
    position: relative;
    width: 40%;
}

.window2 {
    flex: 1;
    display: flex;
}

.column2{           
  width: 100%;
  height: 100%;
  flex-direction: column;
  display: flex;
}

.section h1 {
    color: #7B8A92;
    margin-top: 40px;
    font-size: clamp(24px, 4vw, 40px);
    font-weight: 600;
}

.section p {
    color: #96A5B1;
    font-size: clamp(14px, 1.6vw, 18px);
    font-weight: 500;
}
.socials {
    margin-top: 40px;
}
.social-link {
    align-items: center;
    gap: 20px;
    padding: 15px 60px;
    color: #fff;
    text-decoration: none;
}

.social-link.facebook {background-color: #255A9B;}
.social-link.linkedin {
    background-color: #0076B6;
    margin-left: 40px;
}

.divider {
    margin-top: 60px;
    display: flex;
    align-items: center;
    width: 60%;
}
 
.divider span {
    padding: 0 30px;
}

.divider::before,
.divider::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid #96A5B1;
}

.line-box {
    display: flex;
    gap: 10px;
    margin-top: 20px;
}

.input-box {
    margin-top: 20px;
    width: 100%;
    padding: 10px 14px;
    border: 1px solid #EEEEEE;
    background: #EFF6FF;
    max-width: 30%;
}


.input-box label {
    display: block;
    margin-bottom: 14px;
    font-size: 14px;
    color: #AFAFAF;
}


.input-box input {
    width: 100%;
    border: none;
    outline: none;
    background: transparent;
    font-size: 18px;
}

.input-box.blue:focus-within { border-left: 3px solid #255A9B; }
.input-box.cyan:focus-within { border-left: 3px solid #0076B6; }

.radio-group {
    margin-top: 50px;
    display: flex;
    gap: 20px;
}

.radio-option {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 23px;
    color: #070606;
}

.radio-option input[type="radio"] {
    appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid white;
    border-radius: 50%;
    background-color: white;
    cursor: pointer;
    position: relative;
}

.radio-option input[type="radio"]:checked::before {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    border: 6px solid blue;
    border-radius: 50%;
}


.info-button {
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background: white;
    color: #AFAFAF ;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.tooltip {
    position: absolute;
    top: 20px;
    width: 250px;
    padding: 8px 12px;
    background-color: #FFFFFF ;
    border: 10px solid #EFF6FF;
    font-size: 17px;
    color: #AFAFAF;
    display: none;
    z-index: 10;
}

.tooltip::before {
    content: "I am a natural person investing on my own behalf as a sole owner,joint tenant,or tenant in common.";
    font-weight: 400;
}

.info-button:hover .tooltip {
    display: block;
}

.text {
    font-size: 20px;
    font-weight: 200;
    color: #070606 ;
}

.container-button {
    margin-top: 120px;
    font-size: 25px;
    color: #AFAFAF;      
}

.button-link {
    margin-top: 70px;
    display: inline-block;
    padding: 20px 100px;
    background-color: #3698FB ;
    color: #FFFFFF;
    text-decoration: none;
    border-radius: 4px;
    font-size: 25px;
    width: 100%;
    max-width: 170px;
}

